# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary
*.tmp
*.bak

# Local datasets
data/raw/*
!data/raw/.gitkeep

# Legacy / binary tools
*.exe
*.hlp
*.cnt
*.tip